<ion-view view-title="Customers">
  <ion-content>
    <ion-list>
      <label class="item item-input">
	    <input type="text" placeholder="First Name">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Last Name">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Middle Name">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Nickanme">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Alias">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Middle Name">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Maiden Name">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Mother's Maiden Name">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Suffix">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Honorific/Prefix">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Civil Status">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Birthdate">
	  </label>

	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Gender</span>
	    <ion-radio ng-model="choice" ng-value="'Male'">Male</ion-radio>
		<ion-radio ng-model="choice" ng-value="'Female'">Female</ion-radio>
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Place of birth">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Citizenship">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Us Citizen">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Resident #">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Tin">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="UMID">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="SSS/GIS">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Pre License">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Driver's License">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Passport">
	  </label>

	  <label class="item item-input">
	    <input type="text" placeholder="Others">
	  </label>
    </ion-list>

    <ion-list>
    	<label class="item item-input item-stacked-label">
		    <span class="input-label">Present Residence</span>
		    <input type="text" placeholder="Present Residence">
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Unit #, FLoor, Tower/BLDG</span>
		    <input type="text" placeholder="Unit #, FLoor, Tower/BLDG">
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Street # & Name</span>
		    <input type="text" placeholder="Street # & Name">
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Village & Subdivision</span>
		    <input type="text" placeholder="Village & Subdivision">
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Barangay/Town/District</span>
		    <input type="text" placeholder="Barangay/Town/District">
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">City</span>
		    <input type="text" placeholder="City">
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Province/State</span>
		    <input type="text" placeholder="Province/State">
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Country</span>
		    <input type="text" placeholder="Country">
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Zipcode</span>
		    <input type="text" placeholder="Zipcode">
		  </label>


		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Permanent Address</span>
		    <input type="text" placeholder="Permanent Address">
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Business Address</span>
		    <input type="text" placeholder="Business Address">
		  </label>

    </ion-list>

    <ion-list>
    	<label class="item item-input item-stacked-label">
		    <span class="input-label">Home</span>
		    <input type="text" placeholder="Home">
		  </label>
		  
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Mobile 1</span>
		    <input type="text" placeholder="Mobile 1">
		  </label>
		  
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Mobile 2</span>
		    <input type="text" placeholder="Mobile 2">
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Office</span>
		    <input type="text" placeholder="Office">
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Fax</span>
		    <input type="text" placeholder="Fax">
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Email Address</span>
		    <input type="text" placeholder="Email Address 1">
		    <input type="text" placeholder="Email Address 2">
		    <input type="text" placeholder="Email Address 3">
		</label>
    </ion-list>
   </ion-content>
</ion-view>

